{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">{% include header.html %}</div>
    </div>
  </div>
	{% include banner.html %}
	<div class="container-narrow">
    <div class="row-fluid">
      <div class="span12">
        <div class="box">{{ content | expand_urls: root_url }}</div>
      </div>
    </div>

    	<footer>{% include footer.html %}</footer>
      	{% include after_footer.html %}
  </div>
</body>
</html>