
<ul class="nav">
    <li><a href="{{ root_url }}/">Blog</a></li>
    <li><a href="{{ root_url }}/about/">About</a></li>
		{% if site.facebook_user %}
		<li><a class="facebook" href="http://www.facebook.com/{{ site.facebook_user }}" title="Facebook">Facebook</a></li>
		{% endif %}
		{% if site.googleplus_user %}
		<li><a class="google" href="https://plus.google.com/{{ site.googleplus_user }}" title="Google+">Google+</a></li>
		{% endif %}
		{% if site.twitter_user %}
		<li><a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a></li>
		{% endif %}
		{% if site.github_user %}
		<li><a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a></li>
		{% endif %}
		{% if site.pinterest_user %}
		<li><a class="pinterest" href="https://pinterest.com/{{ site.pinterest_user }}" title="Pinterest">Pinterest</a></li>
		{% endif %}
		{% if site.subscribe_rss %}
    <li><a class="rss" href="{{ site.subscribe_rss }}" title="RSS">RSS</a></li>
		{% endif %}
</ul>

<form class="navbar-form pull-right" action="{{ site.simple_search }}" method="get">
	<input class="left" type="text" name="q" results="0">
	<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
</form>