---
layout: default
---
<div class="cell">文章列表</div>
{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
<div class="cell">
  <div class="post_meta">
  {% include post/date.html %}{{ time }}
  </div>
  <h2 class="post_title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
</div>
{% endfor %}

<ul id="pagenavi" class="cell pager">
    {% if paginator.previous_page %}
    <li class="previous"><a href="{{paginator.previous_page}}">Prev</a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next"><a href="{{paginator.next_page}}" >Next</a></li>
    {% endif %}
</ul>

<div id="categories" class="cell">
    <span class="label"><a href="/blog/categories/ruby/">Ruby</a></span>
    <span class="label"><a href="/blog/categories/php/">PHP</a></span>
    <span class="label"><a href="/blog/categories/test/">Test</a></span>
    <span class="label"><a href="/blog/categories/ios/">iOS</a></span>
    <span class="label"><a href="/blog/categories/tool/">Tool</a></span>
    <span class="label"><a href="/blog/categories/life/">Life</a></span>
</div>